html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.page{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('../../assets/images/gradient.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}